body{
    background: black;
    font-size: 30px;
    text-align: center;
    color: white;
}
#row1, #row2, #row3, #row4, #row5, #row6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    width: 600px;
    height: 100px;
    margin: 15px;
    margin-top: -5px;
    background: black;
}

#row1 div, #row2 div, #row3 div, #row4 div, #row5 div, #row6 div {
    background: black;
    width: 100%;
    height: 100%;
    margin: 1px;
    border: 3px solid gray;
}

#row1 input, #row2 input, #row3 input, #row4 input, #row5 input, #row6 input {
    color: white;
    font-size: 60px;
    text-align: center;
    background: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

input.correct{
    background: limegreen !important;
    color: white;
}
input.present{
    background: yellow !important;
    color: white;
}
input.wrong{
    background: gray !important;
    color: white;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    width: 40px;
    height: 50px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background-color: #d3d6da;
    font-size: 18px;
    cursor: pointer;
}
h1{
    margin-top: -15px;
    width: 300px;
    align-self: center;
    justify-self: center;
}
.key.correct {
    background-color: limegreen !important;
    color: white;
}

.key.present {
    background-color: gold !important;
    color: white;
}

.key.wrong {
    background-color: gray !important;
    color: white;
}
#back{
    float: left;
    width: 210px;
    height: 60px;
    margin-top: 30px;
    font-size: 50px;
}