body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
    background: #de9ba7;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 110px;
    color: white;
}

#header{
     height: 400px;
     background: #de9ba7;
     margin-bottom: 10px;
     color: white;
     display: flex;
     flex-direction: column;
     #topBar{
         display: flex;
         flex-direction: row;
         align-content: space-between;
         justify-content: space-between;
         padding-left: 10px ;
         padding-right: 10px;
         input{
             width: 210px;
             height: 60px;
             margin-top: 30px;
             font-size: 50px;
             font-family: "Jersey 10", sans-serif;
             font-weight: 400;
             font-style: normal;
         }
     }
 }
#body {
    margin-top: 100px;
    #target {
        width: 300px;
        height: 120px;
        background: white;
        justify-self: center;
        margin-top: -300px;
        text-align: center;
        font-size: 110px;
        color: #de9ba7;
    }
    h1{
        margin-top: -17px;
    }
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    #heldFor{
        border-radius: 30px;
        background: white;
        width: 300px;
        height: 180px;
        p{
            text-align: center;
            font-size: 80px;
            color: #de9ba7;
        }
    }
    #result{
        width: 500px;
        height: 200px;
    }
}
#targetNum{
     text-align: center;
     margin-top: 20px;
     font-size: 110px;
     color: #de9ba7;
 }
#resultHeld{
    text-align: center;
    margin-top: -15px;
    font-size: 60px;
    color: white;
}