

body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
}
ul{
    list-style: none;
    li{
        width: 300px;
        height: 50px;
        font-size: 70px;
        color: white;
    }
}
#back{
    margin-left: -500px;
}
#header{
    height: 400px;
    background: gray;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    #topBar{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        padding-left: 10px ;
        padding-right: 10px;
        input{
            width: 210px;
            height: 60px;
            margin-top: 30px;
            font-size: 50px;
            font-family: "Jersey 10", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        h4{
            margin-top: 30px;
            font-size: 40px;
        }
    }
    h1{
        text-align: center;
        margin-top: 20px;
        font-size: 110px;

    }
}
#body{
    height: 700px;
    background: gray;
    #finalField{
        width: 400px;
        background: white;
        height: 200px;
        align-self: center;
        justify-self: center;
        margin-top: -110px;
        font-size: 120px;
        text-align: center;
        padding-top: 30px;
    }
    #content{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 100px;
        justify-self: center;
        width: 1200px;
        #guessField{
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            #guess{
                width: 400px;
                background: gray;
                border: 8px white solid;
                border-radius: 2px;
                height: 200px;
                font-size: 110px;
                text-align: center;
                outline: none;
                color: white;
            }
            #enter{
                width: 200px;
                align-self: center;
                margin-top: 20px;
                height: 70px;
                font-size: 50px;
                font-family: "Jersey 10", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }
        #contentField{
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
        }
    }
}